name: Build and Test

on:
  push:
  pull_request:

jobs:
  test-macos:
    name: "macOS"
    runs-on: macos-15
    steps:
      - uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: latest-stable
      - uses: actions/checkout@v4
      - name: Build
        run: swift build
      - name: Run Tests
        run: swift test

  test-linux:
    name: "Linux"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: SwiftyLab/setup-swift@latest
      - name: Build
        run: swift build
      - name: Run Tests
        run: swift test

  test-windows:
    name: "Windows"
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - uses: SwiftyLab/setup-swift@latest
      - name: Build
        run: swift build
      - name: Run Tests
        run: swift test

  build-darwin-all:
    name: "Build All Darwin Platforms"
    runs-on: macos-15
    steps:
      - uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: latest-stable
      - uses: actions/checkout@v4
      - uses: extractions/setup-just@v3
      - name: Build All Darwin Platforms
        run: just build_darwin_all